<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <clear />
    <add key="lpszParentClass" value="" />
    <!--控件类按层次结构空格隔开-->
    <add key="lpszClass_Image" value="Photo_Lightweight_Viewer Photos_PhotoCanvas" />
    <add key="lpszClass_Button" value="Photo_Lightweight_Viewer Photos_NavigationPane Photos_NavigationBar Photos_ButtonEx" />
    <add key="lpszClass_Thumbnail" value="" />
    <!--句柄为10进制数或00开头的16进制数-->
    <add key="Parent_hWnd" value="" />
    <add key="Image_hWnd" value="1377904" />
    <add key="SavePic" value="False" />
    <add key="WidgetOffset" value="0" />
  </appSettings>
</configuration>